parameters:
    level: 5
    paths:
        - src
    excludePaths:
        - src/Views
        - src/assets
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\.*#'
        - '#Access to an undefined property Illuminate\\.*#'
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false